@import "tailwindcss";


/* Light Theme */
.light-theme {
 background: #C9CCD3;
 background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;
}

/* Dark Theme */
.dark-theme {
  background: #232526; /* fallback */
  background: -webkit-linear-gradient(to top, #414345, #232526);
  background: linear-gradient(to top, #414345, #232526);
  color: #fff;
  transition: background 0.5s ease, color 0.5s ease;
}
